@using MovieBox.Models
@model dynamic

@{
    ViewBag.Title = "Current Rentals";
}

<h2>Current Rentals</h2>

<<<<<<< HEAD
@Html.ActionLink("Add Rental", "New", "Rentals", null, new { @class = "btn btn-primary Margin" })

<div class="jumbotron jumbotron2">

<table id="rentals" class="table table-bordered table-responsive table-hover">
    <thead>
    <tr>
        <th>Movie Name</th>
        <th>Customer Name</th>
        <th>Date Rented</th>
        <th style="width: 40px; text-align: center">Return</th>
        <th style="width: 40px; text-align: center">Delete</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
=======
@Html.ActionLink("Add Rental", "New", "Rentals", null, new {@class = "btn btn-primary Margin"})

<div class="jumbotron jumbotron2">

    <table id="rentals" class="table table-bordered table-responsive table-hover">
        <thead>
        <tr>
            <th>Movie Name</th>
            <th>Customer Name</th>
            <th>Date Rented</th>
            <th style="width: 40px; text-align: center">Return</th>
            <th style="width: 40px; text-align: center">Delete</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
>>>>>>> 9571c89b8f2096dfc4c400bc6edff1b4871fe012
</div>

@section scripts {
    @Scripts.Render("~/bundles/rentaljs")
}