@model dynamic

@{
    ViewBag.Title = "Current Rentals";
}

<h2>Current Rentals</h2>

@Html.ActionLink("Add Rental", "New", "Rentals", null, new { @class = "btn btn-primary Margin" })

<div class="jumbotron jumbotron2">

<table id="rentals" class="table table-bordered table-responsive table-hover">
    <thead>
    <tr>
        <th>Movie Name</th>
        <th>Customer Name</th>
        <th>Date Rented</th>
        <th style="width: 40px; text-align: center">Return</th>
        <th style="width: 40px; text-align: center">Delete</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
</div>

@section scripts {
    @Scripts.Render("~/bundles/rentaljs")
}