@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<<<<<<< HEAD
<h2 class="text-danger">An error occurred while processing your request.</h2>

=======
<h2 class="text-danger">An error occurred while processing your request.</h2>
>>>>>>> 9571c89b8f2096dfc4c400bc6edff1b4871fe012
