@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Locked out.</h1>
    <h2 class="text-danger">This account has been locked out, please try again later.</h2>
<<<<<<< HEAD
</hgroup>
=======
</hgroup>
>>>>>>> 9571c89b8f2096dfc4c400bc6edff1b4871fe012
