@{
    ViewBag.Title = "Login Failure";
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Unsuccessful login with service.</h3>
<<<<<<< HEAD
</hgroup>
=======
</hgroup>
>>>>>>> 9571c89b8f2096dfc4c400bc6edff1b4871fe012
