@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
<<<<<<< HEAD
</div>
	
=======
</div>
>>>>>>> 9571c89b8f2096dfc4c400bc6edff1b4871fe012
