<appSettings>
  <add key="FacebookAppId" value ="2401337613425210"/>
  <add key="FacebookAppSecret" value ="b2f004180b1217ac5be2ea9abc9740d2"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
