body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #333;
    /*background-image: url("/Content/images/bg.jpg");*/
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    color: white;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: #fff;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dataTables_info {
    color: #fff;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt, .dl-horizontal dd {
    white-space: normal;
    font-size: 18px;
    color: #fff;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.Margin {
    margin-bottom: 10px;
}

.btn {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.field-validation-error,
label.error {
    color: red;
}

label {
    color: #fff;
}

.checkbox label {
    padding-left: 0px;
}

.checkbox_customer {
    padding-left: 20px;
}

.checkbox_login {
    padding-left: 0px;
}

.input-validation-error {
    border: 1px solid red;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse {
    background-color: #a52a2a;
    border-color: #333
}

.navbar-nav > li > .dropdown-menu {
    background-color: #333;
    border: 1px solid #444;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #fff;
    background-color: #a52a2a;
}

.navbar {
    border-width: 0 1px 2px 1px;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-brand {
    font-size: 20px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #333;
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #333;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}

.dropdown-menu > li > a {
    display: block;
    padding: 4px 25px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
}

.dropdown-menu {
    border-top-width: 0px;
    min-width: 150px;
    width: 157px;
    padding: 0px;
    -ms-border-radius: 0;
    border-radius: 0;
}

.gallery {
    background-color: transparent;
    margin: 0px auto;
    position: relative;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .gallery {
        display: none;
    }
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: #333;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
}

.list-group-item {
    background-color: #666;
    color: #222;
    border: 1px solid black;
    margin-top: 2px;
}

.jumbotron {
    background-color: #444;
    border: 1px solid #222;
    
}

.container .jumbotron, .container-fluid .jumbotron {
    margin-top: 0px;
    border-radius: 0px;
}

.jumbotron2 {
    background-color: #444;
    margin-top: 0px !important;
    border: 1px solid #222 !important;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 38px;
        padding-bottom: 38px;
    }

    .jumbotron3 {
        padding-top: 24px;
        padding-bottom: 5px;

    }
}

.table-hover > tbody {
    background-color: #fff;
}

    .table-hover > tbody > tr:hover {
        background-color: #f5f5f5;
    }

td {
    color: #222;
}

tr {
    background-color: #fff;
    color: #333;
}

/***********SMALL MOVIES*************/

.movie_container {
    display: flex;
    display: inline-block;
    margin-bottom: 2.5px;
}

.movie {
    width: 200px;
    height: 270px;
    display: inline-block;
}

.frontTitle {
    text-align: center;
    height: 40px;
    width: 100%;
    font-size: 25px;
    border: 1px solid #222;
    background-color: #a52a2a;
    margin-top: 40px;
    color: #fff;
}

.frontTitle_latestRelease {
    
}

.frontTitle_popularMovies {
    margin-top: 10px;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-left: 0px;
 margin-left: -20px;
}

.checkbox_login {
    margin-left: 20px;
}

/**********TEST**********/

.computer_Container {
    
}

.icon {
    float: right;
    height: 30px;
    width: 30px;
    background-image:url(images/info.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;  
    position: absolute;
}

.icon-tower {
    right: 350px;
    top: 400px;
}

.icon-monitor {
    right: 600px;
    top: 370px;
}

.message {
    z-index: 1;
    height: 50px;
    width: 130px;
    border: 3px solid #333;
    background-color: #777;
    background-image: none;
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
    display: none;
}

.message-monitor {
    right: 490px;
    top: 320px;
    font-size: 14px;
}

.message-tower {
   right: 240px;
    top: 350px; 
}