@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<<<<<<< HEAD
<p>Use this area to provide additional information.</p>
=======
<p>Use this area to provide additional information.</p>
>>>>>>> 9571c89b8f2096dfc4c400bc6edff1b4871fe012
