@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
<<<<<<< HEAD
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
=======
    One Microsoft Way<br/>
    Redmond, WA 98052-6399<br/>
>>>>>>> 9571c89b8f2096dfc4c400bc6edff1b4871fe012
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
<<<<<<< HEAD
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
=======
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br/>
>>>>>>> 9571c89b8f2096dfc4c400bc6edff1b4871fe012
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>