@model MovieBox.Models.Customer
@{
    ViewBag.Title = "Details";
}

<h1>@Model.Name</h1>

<h4>Birth Date: @Model.BirthDate.Value.ToShortDateString()</h4>
<<<<<<< HEAD
<h4>Membership Type: @Model.MembershipType.Name</h4>

=======
<h4>Membership Type: @Model.MembershipType.Name</h4>
>>>>>>> 9571c89b8f2096dfc4c400bc6edff1b4871fe012
