@model IEnumerable<MovieBox.Models.Customer>
@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

<<<<<<< HEAD
@Html.ActionLink("Add Customer", "New", "Customers", null, new { @class = "btn btn-primary Margin" })
=======
@Html.ActionLink("Add Customer", "New", "Customers", null, new {@class = "btn btn-primary Margin"})
>>>>>>> 9571c89b8f2096dfc4c400bc6edff1b4871fe012

<div class="jumbotron jumbotron2">

    <table id="rentals" class="table table-bordered table-responsive table-hover">
        <thead>
<<<<<<< HEAD
            <tr>
                <th>Customer Name</th>
                <th>Membership Type</th>
                <th>Date of Birth</th>
                <th style="width: 40px; text-align: center">Delete</th>
            </tr>
=======
        <tr>
            <th>Customer Name</th>
            <th>Membership Type</th>
            <th>Date of Birth</th>
            <th style="width: 40px; text-align: center">Delete</th>
        </tr>
>>>>>>> 9571c89b8f2096dfc4c400bc6edff1b4871fe012
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/customerjs")
<<<<<<< HEAD
}
=======
}
>>>>>>> 9571c89b8f2096dfc4c400bc6edff1b4871fe012
